.friendList {
  list-style: none;
  margin: 0;
  padding: 25px;
  background-color: cornsilk;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: thistle;
}

.avatar {
  margin-right: 10px;
  border-radius: 50%;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-online {
  background-color: green;
}

.status-offline {
  background-color: red;
}

.name {
  font-size: 20px;
}

